@using MovieProMVC.Enums
@using MovieProMVC.Models.Database
@using MovieProMVC.Services.Interfaces
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject IImageService _imageService;
@model IList<Collection>;

@{
    ViewData["Title"] = "Index";
}

<!-- page title -->
<section class="section section--first section--bg" data-bg="../../img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h1 class="section__title">My Collections</h1>
                    <!-- end section title -->
                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Collections</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->

<!-- collection name -->
<div class="content__head">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- content title -->
                <h2 class="content__title">All</h2>
                <!-- end content title -->
            </div>
        </div>
    </div>
</div>
<!-- end collection name -->

<!-- catalog -->
<div class="catalog">
    <div class="container">
        <div class="row row--grid">
			<div class="main__table-wrap">
				<table class="main__table">
					<thead>
						<tr>
                            <th>ID</th>
							<th>NAME</th>
							<th>DESCRIPTION</th>
                            <th>ACTIONS</th>
						</tr>
					</thead>

					<tbody>
					@foreach (var collection in Model)
					{
						<tr>
                            <td width="10%">
								<div class="main__table-text">@collection.Id</div>
							</td>
							<td width="35%">
								<div class="main__table-text">@collection.Name</div>
							</td>
							<td width="40%">
								<div class="main__table-text">@collection.Description</div>
							</td>
							<td width="15%">
								<div class="main__table-btns">
									<a href="#modal-status-@collection.Id" class="main__table-btn main__table-btn--edit open-modal">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5,18H9.24a1,1,0,0,0,.71-.29l6.92-6.93h0L19.71,8a1,1,0,0,0,0-1.42L15.47,2.29a1,1,0,0,0-1.42,0L11.23,5.12h0L4.29,12.05a1,1,0,0,0-.29.71V17A1,1,0,0,0,5,18ZM14.76,4.41l2.83,2.83L16.17,8.66,13.34,5.83ZM6,13.17l5.93-5.93,2.83,2.83L8.83,16H6ZM21,20H3a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2Z"/></svg>
									</a>
									<a href="#modal-delete-@collection.Id" class="main__table-btn main__table-btn--delete open-modal">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"/></svg>
									</a>
								</div>
							</td>
						</tr>

						<!-- modal status -->
						<div id="modal-status-@collection.Id" class="zoom-anim-dialog mfp-hide modal">
							<h6 class="modal__title">Edit Collection</h6>

							<form asp-controller="Collections" asp-action="Edit" method="post" id="form-@collection.Id">
								<input type="hidden" asp-for="@collection.Id" />

								<!-- name -->
								<div class="col-12">
									<input asp-for="@collection.Name" class="form-control form__input" placeholder="Name" />
									<span asp-validation-for="@collection.Name" class="text-danger" style="color: indianred;"></span>
								</div>

								<!-- description -->
								<div class="col-12">
									<textarea asp-for="@collection.Description" class="form-control form__textarea" placeholder="Description" ></textarea>
									<span asp-validation-for="@collection.Description" class="text-danger" style="color: indianred;"></span>
								</div>

								<div class="modal__btns">
									<button class="modal__btn modal__btn--apply" type="submit">Submit</button>
									<button class="modal__btn modal__btn--dismiss" type="button">Close</button>
								</div>
							</form>
						</div>
						<!-- end modal status -->

						<!-- modal delete -->
						<div id="modal-delete-@collection.Id" class="zoom-anim-dialog mfp-hide modal">
							<h6 class="modal__title">Delete Collection</h6>

							<form asp-controller="Collections" asp-action="Delete" method="post" id="form-@collection.Id">
								@Html.Hidden("id", @collection.Id)

								<p class="modal__text">Are you sure to permanently delete this collection?</p>

								<div class="modal__btns">
									<button class="modal__btn modal__btn--apply" type="submit">Delete</button>
									<button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
								</div>
							</form>

						</div>
						<!-- end modal delete -->
					}
					</tbody>
				</table>
			</div>
        </div>
    </div>
</div>
<!-- end catalog -->

@section Scripts {
	<script src="~/lib/select2/js/select2.full.min.js"></script>
	<script src="~/lib/select2/js/select2.js"></script>
	<script src="~/js/admin.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}