@using MovieProMVC.Models.ViewModels
@model LandingPageVM

@{
    ViewData["Title"] = "Home";
}

<style>
    h5.card-title {
        height: 2.5em;
    }

    .clampTitle {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .clampOverview {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>

<!-- UPCOMING -->
<section class="px-4">
    <div class="row">
        <div class="d-grid gap-2 mb-2">
            <span class="btn btn-lg btn-dark fw-bolder boder-dark">UPCOMING</span>
        </div>
    </div>
    <div class="row">
        <div class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    var classText = "active";
                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.Upcoming.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
                                        <div class="card">
                                            <img src="@movie.poster_path" class="card-img-top" alt="Movie Poster">
                                            <div class="card-body">
                                                <h5 class="card-title clampTitle">@movie.title</h5>
                                                <p class="card-text clampOverview">@movie.overview</p>
                                                <div class="d-grid gap-2">
                                                    <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-dark fw-bold">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        classText = "";
                    }
                }
            </div>
        </div>
    </div>
</section>

<!-- NOW PLAYING -->
<section class="px-4">
    <div class="row">
        <div class="d-grid gap-2 mb-2">
            <span class="btn btn-lg btn-dark fw-bolder boder-dark">NOW PLAYING</span>
        </div>
    </div>
    <div class="row">
        <div class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    classText = "active";
                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.NowPlaying.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
                                        <div class="card">
                                            <img src="@movie.poster_path" class="card-img-top" alt="Movie Poster">
                                            <div class="card-body">
                                                <h5 class="card-title clampTitle">@movie.title</h5>
                                                <p class="card-text clampOverview">@movie.overview</p>
                                                <div class="d-grid gap-2">
                                                    <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-dark fw-bold">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        classText = "";
                    }
                }
            </div>
        </div>
    </div>
</section>

<!-- POPULAR -->
<section class="px-4">
    <div class="row">
        <div class="d-grid gap-2 mb-2">
            <span class="btn btn-lg btn-dark fw-bolder boder-dark">POPULAR</span>
        </div>
    </div>
    <div class="row">
        <div class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    classText = "active";
                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.Popular.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
                                        <div class="card">
                                            <img src="@movie.poster_path" class="card-img-top" alt="Movie Poster">
                                            <div class="card-body">
                                                <h5 class="card-title clampTitle">@movie.title</h5>
                                                <p class="card-text clampOverview">@movie.overview</p>
                                                <div class="d-grid gap-2">
                                                    <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-dark fw-bold">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        classText = "";
                    }
                }
            </div>
        </div>
    </div>
</section>

<!-- TOP RATED -->
<section class="px-4">
    <div class="row">
        <div class="d-grid gap-2 mb-2">
            <span class="btn btn-lg btn-dark fw-bolder boder-dark">TOP RATED</span>
        </div>
    </div>
    <div class="row">
        <div class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    classText = "active";
                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.TopRated.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
                                        <div class="card">
                                            <img src="@movie.poster_path" class="card-img-top" alt="Movie Poster">
                                            <div class="card-body">
                                                <h5 class="card-title clampTitle">@movie.title</h5>
                                                <p class="card-text clampOverview">@movie.overview</p>
                                                <div class="d-grid gap-2">
                                                    <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-dark fw-bold">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        classText = "";
                    }
                }
            </div>
        </div>
    </div>
</section>