@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="sign section--bg" data-bg="../../img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">
                    <!-- authorization form -->
                    <form id="account" method="post" class="sign__form">
                        <a asp-controller="Home" asp-action="Index" class="sign__logo">
							<img src="~/img/MovieProLogo-Dark.png" alt="MoviePro Logo">
						</a>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="sign__group">
                            <input asp-for="Input.Email" class="form-control sign__input" autocomplete="username" aria-required="true" placeholder="Email" />
                            <span asp-validation-for="Input.Email" class="text-danger" style="color: indianred;"></span>
						</div>

                        <div class="sign__group">
                            <input asp-for="Input.Password" class="form-control sign__input" autocomplete="current-password" aria-required="true" placeholder="Password"/>
                            <span asp-validation-for="Input.Password" class="text-danger" style="color: indianred;"></span>
						</div>

                        <div>
                            <div class="checkbox sign__group sign__group--checkbox">
							    <input class="form-check-input" asp-for="Input.RememberMe" name="remember" type="checkbox" checked="checked">
							    <label asp-for="Input.RememberMe" class="form-label">
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
						    </div>
                        </div>
                        
                        <button id="login-submit" type="submit" class="sign__btn w-100 btn btn-lg btn-primary">Log in</button>
                        
                        <span class="sign__text">Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up!</a></span>

						<span class="sign__text"><a id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a></span>
                    </form>
                    <!-- end authorization form -->
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <section>
                    <h3>Use another service to log in.</h3>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                    about setting up this ASP.NET application to support logging in via external services</a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
