@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="sign section--bg" data-bg="../../img/section/section.jpg">
	<div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">
                    <!-- registration form -->
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="sign__form">
                        <a asp-controller="Home" asp-action="Index" class="sign__logo">
							<img src="~/img/MovieProLogo-Dark.png" alt="MoviePro Logo">
						</a>
                        <div asp-validation-summary="ModelOnly" class="text-danger" style="color: indianred;"></div>

                        <div class="sign__group">
                            <input asp-for="Input.Email" class="form-control sign__input" autocomplete="email" aria-required="true" placeholder="Email" />
                            <span asp-validation-for="Input.Email" class="text-danger" style="color: indianred;"></span>
						</div>

                        <div class="sign__group">
                            <input asp-for="Input.Password" class="form-control sign__input" autocomplete="new-password" aria-required="true" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="text-danger" style="color: indianred;"></span>
						</div>

                        <div class="sign__group">
                            <input asp-for="Input.ConfirmPassword" class="form-control sign__input" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger" style="color: indianred;"></span>
						</div>

                        <div class="sign__group sign__group--checkbox">
							<input id="remember" name="remember" type="checkbox" checked="checked">
							<label for="remember">I agree to the <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a></label>
						</div>

                        <button id="registerSubmit" type="submit" class="sign__btn w-100 btn btn-lg btn-primary">Register</button>

                        <span class="sign__text">Already have an account? <a asp-page="./Login">Login!</a></span>
                    </form>
                    <!-- registration form -->
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <section>
                    <h3>Use another service to register.</h3>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                    about setting up this ASP.NET application to support logging in via external services</a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
