@using MovieProMVC.Enums
@using MovieProMVC.Models.Database
@using MovieProMVC.Services.Interfaces

@inject IImageService _imageService;
@model Movie;

@{
    ViewData["Title"] = "MovieDetail";
}

<!-- details -->
<section class="section details">
	<!-- details background -->
	<div class="details__bg" data-bg="" style="background:url(@_imageService.DecodeImage(Model.Backdrop, Model.BackdropType))"></div>
	<!-- end details background -->

	<!-- details content -->
	<div class="container">
		<div class="row">
			<!-- title -->
			<div class="col-12">
				<h1 class="details__title">@Model.Title</h1>
			</div>
			<!-- end title -->

			<!-- content -->
			<div class="col-12 col-xl-6">
				<div class="card card--details">
					<!-- card cover -->
					<div class="card__cover">
						<img src="@_imageService.DecodeImage(Model.Poster, Model.PosterType)" alt="Movie Poster">
					</div>
					<!-- end card cover -->

					<!-- card content -->
					<div class="card__content">
						<div class="card__wrap">
							<span class="card__rate"> @Model.VoteAverage</span>

							<ul class="card__list">
								<li>@Model.Rating</li>
								@*<li>HD</li>*@
							</ul>
						</div>

						<ul class="card__meta">
							<li><span>Genre:</span>
							@foreach (var genre in Model.Genres)
							{
								<a href="#">@genre.GetDescription()</a>
							}
							<li><span>Release year:</span> @Model.ReleaseDate.ToString("yyyy")</li>
							<li><span>Running time:</span> @Model.RunTime min</li>
							<li><span>Country:</span> <a href="#">@Model.Country</a> </li>
						</ul>

						<div class="card__description card__description--details">
							@Model.Overview
                        </div>
					</div>
					<!-- end card content -->
				</div>
			</div>
			<!-- end content -->

			<!-- player -->
			<div class="col-12 col-xl-6">
                <div class="plyr__video-embed" id="player">
                  <iframe
                    src="@Model.TrailerUrl?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                    allowfullscreen
                    allowtransparency
                    allow="autoplay"
                  ></iframe>
                </div>
			</div>
			<!-- end player -->
		</div>
	</div>
	<!-- end details content -->
</section>
<!-- end details -->

<!-- content -->
<section class="content">
	<div class="content__head">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- content title -->
					<h2 class="content__title">Discover</h2>
					<!-- end content title -->

					<!-- content tabs nav -->
					<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
						<li class="nav-item" role="presentation">
							<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Cast</a>
						</li>

						<li class="nav-item" role="presentation">
							<a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Crew</a>
						</li>

						<li class="nav-item" role="presentation">
							<a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Reviews</a>
						</li>
					</ul>
					<!-- end content tabs nav -->

					<!-- content mobile tabs nav -->
					<div class="content__mobile-tabs" id="content__mobile-tabs">
						<div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<input type="button" value="Cast">
							<span></span>
						</div>

						<div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Cast</a></li>

								<li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Crew</a></li>

								<li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Reviews</a></li>
							</ul>
						</div>
					</div>
					<!-- end content mobile tabs nav -->
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-8 col-xl-8">
				<!-- content tabs -->
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
						<div class="row">
							<!-- cast -->
							<div class="col-12">
								<div class="comments">
									<ul class="row comments__list">
										@foreach (var actor in @Model.Cast.Take(8))
										{
											<!-- card -->
											<li class="comments__item col-6 col-sm-4 col-lg-3">
												<div class="card">
													<a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.CastId" class="card__cover">
														<img src="@actor.ImageUrl" alt="Actor Photo">
														<span class="card__play">
															<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg>
														</span>
													</a>
													<div class="card__content">
														<h3 class="card__title"><a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.CastId">@actor.Name</a></h3>
														@*<span class="card__category">
															<a href="#">@actor.Department</a>
														</span>*@
														<span class="card__rate">@actor.Character</span>
													</div>
												</div>
											</li>
											<!-- end card -->
										}
									</ul>>
								</div>
							</div>
							<!-- end cast -->
						</div>
					</div>

					<div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="3-tab">
						<div class="row">
							<!-- crew -->
							<div class="col-12">
								<div class="comments">
									<ul class="row comments__list">
										@foreach (var crew in @Model.Crew.Take(8))
										{
											<!-- card -->
											<li class="comments__item col-6 col-sm-4 col-lg-3">
												<div class="card">
													<a asp-controller="Actors" asp-action="Details" asp-route-id="@crew.CrewId" class="card__cover">
														<img src="@crew.ImageUrl" alt="Actor Photo">
														<span class="card__play">
															<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg>
														</span>
													</a>
													<div class="card__content">
														<h3 class="card__title"><a asp-controller="Actors" asp-action="Details" asp-route-id="@crew.CrewId">@crew.Name</a></h3>
														@*<span class="card__category">
															<a href="#">@actor.Department</a>
														</span>*@
														<span class="card__rate">@crew.Job</span>
													</div>
												</div>
											</li>
											<!-- end card -->
										}
									</ul>>
								</div>
							</div>
							<!-- end crew -->
						</div>
					</div>

					<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="2-tab">
						<div class="row">
							<!-- reviews -->
							<div class="col-12">
								<div class="reviews">
									<ul class="reviews__list">
										@foreach (var review in Model.Reviews)
										{
											<!-- card -->
											<li class="reviews__item">
												<div class="reviews__autor">
													<img class="reviews__avatar" src="@review.AvatarPath" alt="Avatar Picture">
													<span class="reviews__name">@review.Author</span>
													<span class="reviews__time">@review.Updated_at</span>

													<span class="reviews__rating"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M22,10.1c0.1-0.5-0.3-1.1-0.8-1.1l-5.7-0.8L12.9,3c-0.1-0.2-0.2-0.3-0.4-0.4C12,2.3,11.4,2.5,11.1,3L8.6,8.2L2.9,9C2.6,9,2.4,9.1,2.3,9.3c-0.4,0.4-0.4,1,0,1.4l4.1,4l-1,5.7c0,0.2,0,0.4,0.1,0.6c0.3,0.5,0.9,0.7,1.4,0.4l5.1-2.7l5.1,2.7c0.1,0.1,0.3,0.1,0.5,0.1v0c0.1,0,0.1,0,0.2,0c0.5-0.1,0.9-0.6,0.8-1.2l-1-5.7l4.1-4C21.9,10.5,22,10.3,22,10.1z"></path></svg>8.4</span>
												</div>
												<p class="reviews__text" style="max-height: 300px; overflow: auto;">@review.Content</p>
											</li>
											<!-- end card -->
										}
										@if (!Model.Reviews.Any())
										{
											<!-- card -->
											<li class="reviews__item">
												<p class="reviews__text">No reviews found.</p>
											</li>
											<!-- end card -->
										}
									</ul>
								</div>
							</div>
							<!-- end reviews -->
						</div>
					</div>
				</div>
				<!-- end content tabs -->
			</div>

			<!-- sidebar -->
			<div class="col-12 col-lg-4 col-xl-4">
				<div class="row row--grid">
					<!-- section title -->
					<div class="col-12">
						<h2 class="section__title section__title--sidebar">You may also like...</h2>
					</div>
					<!-- end section title -->

					@foreach (var similar in @Model.MovieSimilar.Take(6))
					{
						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-6">
							<div class="card">
								<a asp-controller="Movies" asp-action="Details" asp-route-id="@similar.MovieId" class="card__cover">
									<img src="@similar.PosterPath" alt="Movie Poster">
									<span class="card__play">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg>
									</span>
								</a>
								<div class="card__content">
									<h3 class="card__title"><a asp-controller="Movies" asp-action="Details" asp-route-id="@similar.MovieId">@similar.Title</a></h3>
									<span class="card__category">
										@foreach (var genre in similar.Genres)
										{
											<a href="#">@genre.GetDescription()</a>
										}
									</span>
									<span class="card__rate">@similar.VoteAverage.ToString("0.0")</span>
								</div>
							</div>
						</div>
						<!-- end card -->
					}
				</div>
			</div>
			<!-- end sidebar -->
		</div>
	</div>
</section>
<!-- end content -->

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

	<!-- Background of PhotoSwipe. 
	It's a separate element, as animating opacity is faster than rgba(). -->
	<div class="pswp__bg"></div>

	<!-- Slides wrapper with overflow:hidden. -->
	<div class="pswp__scroll-wrap">

		<!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
		<!-- don't modify these 3 pswp__item elements, data is added later on. -->
		<div class="pswp__container">
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
		</div>

		<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
		<div class="pswp__ui pswp__ui--hidden">

			<div class="pswp__top-bar">

				<!--  Controls are self-explanatory. Order can be changed. -->

				<div class="pswp__counter"></div>

				<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

				<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

				<!-- Preloader -->
				<div class="pswp__preloader">
					<div class="pswp__preloader__icn">
						<div class="pswp__preloader__cut">
							<div class="pswp__preloader__donut"></div>
						</div>
					</div>
				</div>
			</div>

			<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

			<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

			<div class="pswp__caption">
				<div class="pswp__caption__center"></div>
			</div>
		</div>
	</div>
</div>
<!-- end PhotoSwipe-->


@*<div class="row gy-3">
    <div class="col-sm-12 col-md-6">
        <div class="row">
            <img src="@_imageService.DecodeImage(Model.Poster, Model.PosterType)" class="w-100" alt="Movie Poster" />
        </div>

        <div class="row">
            <div class="d-grid">
                <button class="btn btn-lg btn-danger fw-bold" data-bs-toggle="modal" data-bs-target="#trailer"> WATCH TRAILER</button>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="row">
            <div class="col h5">
                <span class="fw-bolder mr-2">TITLE: </span> @Model.Title
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col h5">
                <span class="fw-bolder mr-2">RELEASED: </span> @Model.ReleaseDate.ToString("MMM, ddd, yyyy")
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col h5">
                <span class="fw-bolder mr-2">RATING: </span> @Model.Rating
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col h5">
                <span class="fw-bolder mr-2">REVIEWS: </span> @Model.VoteAverage / 10
            </div>
        </div>

        <hr />

        <div class="row mt-3 mb-2">
            <div class="col h5">
                <span class="fw-bolder mr-2">OVERVIEW:</span>
            </div>
        </div>

        <div class="row">
            <div class="col h5">
                <span class="ml-4">@Model.Overview</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col mt-3">
        <span class="h5 fw-bolder">STARRING:</span>
    </div>
</div>

@foreach (var actor in Model.Cast.Take(5))
{
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img src="@actor.ImageUrl" class="img-fluid" style="width: 10rem" alt="Actor Image" />
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title h5"><a asp-action="Details" asp-controller="Actors" asp-route-id="@actor.CastId">Name: @actor.Name</a></h5>
                            <p class="card-text">Character: @actor.Character</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}*@

<!-- Modal -->
@*<div class="modal fade" id="trailer" tabindex="-1" aria-labelledby="trailerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="trailerLabel">@Model.Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ratio ratio-16x9">
                    @{
                        // I am isolating a piece of data in order to use it as my embed source
                        var key = Model.TrailerUrl.Split("=").Last();
                        var source = $"https://www.youtube.com/embed/{key}?enablejsapi=1";
                    }

                    <iframe id="player" width="560" height="315" src="@source" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
<script>
    var player;
    function onYouTubeIframeAPIReady() {player = new YT.Player('player');}
    //so on jquery event or whatever call the play or stop on the video.
    //to play player.playVideo();
    //to pause player.pauseVideo();
    //to stop player.stopVideo();

    var myModalEl = document.getElementById('trailer')
    myModalEl.addEventListener('hidden.bs.modal', function (event) {
      // do something...
      player.pauseVideo();
    })
</script>
}*@