@using MovieProMVC.Enums
@using MovieProMVC.Models.Database
@using MovieProMVC.Services.Interfaces

@inject IImageService _imageService;
@model Movie;

@{
    ViewData["Title"] = "MovieDetail";
}

<!-- details -->
<section class="section details">
	<!-- details background -->
	<div class="details__bg" data-bg="" style="background:url(@_imageService.DecodeImage(Model.Backdrop, Model.BackdropType))"></div>
	<!-- end details background -->

	<!-- details content -->
	<div class="container">
		<div class="row">
			<!-- title -->
			<div class="col-12">
				<h1 class="details__title">@Model.Title</h1>
			</div>
			<!-- end title -->

			<!-- content -->
			<div class="col-12 col-xl-6">
				<div class="card card--details">
					<!-- card cover -->
					<div class="card__cover">
						<img src="@_imageService.DecodeImage(Model.Poster, Model.PosterType)" alt="Movie Poster">
					</div>
					<!-- end card cover -->

					<!-- card content -->
					<div class="card__content">
						<div class="card__wrap">
							<span class="card__rate"> @Model.VoteAverage</span>

							<ul class="card__list">
								<li>@Model.Rating</li>
								@*<li>HD</li>*@
							</ul>
						</div>

						<ul class="card__meta">
							<li><span>Genre:</span>
                            @{
                                @foreach (var genre in Model.Genres)
                                {
                                    <a href="#">@genre.GetDescription()</a>
                                }
                            }
							<li><span>Release year:</span> @Model.ReleaseDate.ToString("yyyy")</li>
							<li><span>Running time:</span> @Model.RunTime min</li>
							<li><span>Country:</span> <a href="#">@Model.Country</a> </li>
						</ul>

						<div class="card__description card__description--details">
							@Model.Overview
                        </div>
					</div>
					<!-- end card content -->
				</div>
			</div>
			<!-- end content -->

			<!-- player -->
			<div class="col-12 col-xl-6">
                <div class="plyr__video-embed" id="player">
                  <iframe
                    src="@Model.TrailerUrl?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                    allowfullscreen
                    allowtransparency
                    allow="autoplay"
                  ></iframe>
                </div>
			</div>
			<!-- end player -->
		</div>
	</div>
	<!-- end details content -->
</section>
<!-- end details -->


@*<div class="row gy-3">
    <div class="col-sm-12 col-md-6">
        <div class="row">
            <img src="@_imageService.DecodeImage(Model.Poster, Model.PosterType)" class="w-100" alt="Movie Poster" />
        </div>

        <div class="row">
            <div class="d-grid">
                <button class="btn btn-lg btn-danger fw-bold" data-bs-toggle="modal" data-bs-target="#trailer"> WATCH TRAILER</button>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="row">
            <div class="col h5">
                <span class="fw-bolder mr-2">TITLE: </span> @Model.Title
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col h5">
                <span class="fw-bolder mr-2">RELEASED: </span> @Model.ReleaseDate.ToString("MMM, ddd, yyyy")
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col h5">
                <span class="fw-bolder mr-2">RATING: </span> @Model.Rating
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col h5">
                <span class="fw-bolder mr-2">REVIEWS: </span> @Model.VoteAverage / 10
            </div>
        </div>

        <hr />

        <div class="row mt-3 mb-2">
            <div class="col h5">
                <span class="fw-bolder mr-2">OVERVIEW:</span>
            </div>
        </div>

        <div class="row">
            <div class="col h5">
                <span class="ml-4">@Model.Overview</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col mt-3">
        <span class="h5 fw-bolder">STARRING:</span>
    </div>
</div>

@foreach (var actor in Model.Cast.Take(5))
{
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img src="@actor.ImageUrl" class="img-fluid" style="width: 10rem" alt="Actor Image" />
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title h5"><a asp-action="Details" asp-controller="Actors" asp-route-id="@actor.CastId">Name: @actor.Name</a></h5>
                            <p class="card-text">Character: @actor.Character</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}*@

<!-- Modal -->
@*<div class="modal fade" id="trailer" tabindex="-1" aria-labelledby="trailerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="trailerLabel">@Model.Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ratio ratio-16x9">
                    @{
                        // I am isolating a piece of data in order to use it as my embed source
                        var key = Model.TrailerUrl.Split("=").Last();
                        var source = $"https://www.youtube.com/embed/{key}?enablejsapi=1";
                    }

                    <iframe id="player" width="560" height="315" src="@source" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
<script>
    var player;
    function onYouTubeIframeAPIReady() {player = new YT.Player('player');}
    //so on jquery event or whatever call the play or stop on the video.
    //to play player.playVideo();
    //to pause player.pauseVideo();
    //to stop player.stopVideo();

    var myModalEl = document.getElementById('trailer')
    myModalEl.addEventListener('hidden.bs.modal', function (event) {
      // do something...
      player.pauseVideo();
    })
</script>
}*@