@using MovieProMVC.Enums
@using MovieProMVC.Models.Database
@using MovieProMVC.Services
@using MovieProMVC.Services.Interfaces

@inject IImageService _imageService;
@inject IRemoteMovieService _tmdbMovieService;
@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Movie Import";
}

<style>
    .twitter-typeahead{
        width: 100%;
    }

    .tt-hint {
        color: #999 !important;
    }

    .tt-menu {
      color: #fff;
      /*padding: 0 40px 0 20px;*/
      width: 100%;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      border-radius: 4px;
      outline: none !important;
      transition: 0.4s ease;
    }

    .tt-dataset {
        width: 100%;
        border: none;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
        background-color: #2b2b31;
        padding: 15px 0;
    }

    .tt-suggestion {
        padding: 3px 20px;
        font-size: 18px;
        line-height: 24px;
        color: #999 !important;
    }

    .tt-suggestion:hover {
        cursor: pointer;
        color: #fff;
        background-color: #0097cf;
        border-color: #ff55a5;
    }

    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #0097cf;

    }

    .tt-suggestion strong {
        color: #fff;
    }

    .tt-suggestion p + strong {
        margin: 0;
    }
</style>

<!-- page title -->
<section class="section section--first section--bg" data-bg="../../img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h1 class="section__title">Import Movies</h1>
                    <!-- end section title -->
                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Import Movie</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->

<!-- search bar -->
<div class="content__head">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-column align-items-center">
                <!-- content title -->
                <h2 class="content__title mx-auto">Discover And Import Movies</h2>
                <h3 class="section__text">Bloodhound's typeahead feature combined with the TMDB API allows us to both discover and import movies!</h3>
                <!-- end content title -->

                <!-- search -->
                <form asp-action="Import" class="header__search my-4" style="position: relative; bottom: 0; z-index: 100; overflow: visible;">
                    <div class="container px-0">
                        <div class="row">
                            <div class="col-12">
                                <div class="header__search-content" id="movieSearch">
                                    <input type="hidden" id="movie-id" name="id" value="0" />
                                    <input type="text" placeholder="Enter Movie Title ..." class="typeahead">
                                    <button type="submit">Import</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- search -->
            </div>
        </div>
    </div>
</div>
<!-- end search bar -->

<!-- catalog -->
<div class="catalog">
    <div class="container">
        <div class="row row--grid">
            <div class="col-10 mx-auto">
                @foreach (var movie in Model)
                {
                    <!-- card -->
                    <div class="card card--list">
                        <a class="card__cover" asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" asp-route-local="true">
                            <img src="@_imageService.DecodeImage(@movie.Poster, @movie.PosterType)" alt="Movie Poster">
                            <span class="card__play">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z" /></svg>
                            </span>
                        </a>

                        <div class="card__content">
                            <h3 class="card__title"><a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" asp-route-local="true">@movie.Title</a></h3>
                            <span class="card__category">
                                @{
                                    @foreach (var genre in movie.Genres)
                                    {
                                        <a href="#">@genre.GetDescription()</a>
                                    }
                                }
                            </span>

                            <div class="card__wrap">
                                <span class="card__rate"> @movie.VoteAverage</span>

                                <ul class="card__list">
                                    <li>@movie.ReleaseDate.ToString("yyyy")</li>
                                </ul>
                            </div>

                            <div class="card__description">
                                <p>@movie.Overview</p>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                }
            </div>
        </div>
    </div>
</div>
<!-- end catalog -->

@section Scripts {
    <script>
        let query = '@_tmdbMovieService.GenerateSearchRequestUri()';
        query = query.replace(/amp;/g, "").replace("%25SEARCH", "%SEARCH");
    </script>

    <script src="~/lib/typeahead.js/typeahead.bundle.min.js"></script>
	<script src="~/js/custom.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}